$txt-red: rgb(219, 37, 37);
$txt-white: rgba(245, 244, 244, 0.925);

$background-dark: rgba(10, 10, 10, 0.932);

$breakpoint: 1300px;

$mobile_h1_size: 1.6em;
$header_h1_size: 2.6em;
$intro_h1_size: 1.6rem;

$margin-y: 6% 0;
$margin-top: 3%;
$cardGame_h1_size: 1.3em;
$img_radius: 22px;

$button_padding: 6px 30px;